body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(to bottom, #007bff, #00C8FF);
    position: relative;
    overflow: hidden;
}

#ceu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #007bff, #ffffff);
    z-index: -1;
}

#sol {
    width: 15vw;
    height: 15vw;
    background-color: #FFFF00;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
    margin-bottom: 5vh;
    flex-wrap: wrap;
}

#quadrado, #triangulo, #circulo, #estrela, #coracao {
    margin: 2vw;
}

#quadrado {
    width: 10vw;
    height: 10vw;
    background-color: #FF0000;
    border: 0.5vw solid #000000;
}

#triangulo {
    width: 0;
    height: 0;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 10vw solid #00FF00;
}

#circulo {
    width: 10vw;
    height: 10vw;
    background-color: #FFFF00;
    border-radius: 50%;
}

#estrela {
    width: 10vw;
    height: 10vw;
    background-color: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

#coracao {
    width: 10vw;
    height: 10vw;
    position: relative;
    background-color: #FF0000;
    transform: rotate(-45deg);
}

#coracao::before,
#coracao::after {
    content: '';
    width: 10vw;
    height: 10vw;
    position: absolute;
    background-color: #FF0000;
    border-radius: 50%;
}

#coracao::before {
    top: -5vw;
    left: 0;
}

#coracao::after {
    top: 0;
    left: 5vw;
}

#seta-direita {
    width: 0;
    height: 0;
    border-top: 5vw solid transparent;
    border-bottom: 5vw solid transparent;
    border-left: 10vw solid #FF0000;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
}

#seta-direita::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -16vw;
    width: 7.5vw;
    height: 2vw;
    background-color: #FF0000;
    transform: translateY(-50%);
}

#botao-oval {
    width: 15vw;
    height: 5vw;
    background-color: #FF8C00;
    border-radius: 25px;
    position: absolute;
    top: 10%;
    left: 18%;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8vw;
    font-family: Arial, sans-serif;
}

#botao-oval:hover {
    background-color: #FFA500;
}
